html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: white;
}

.jumbotron {
  background: linear-gradient(to bottom, #deefff 0%, #98bede 100%);
}

h3 {
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
}

p {
  font-size: 25px;
}

.fa {
  font-size: 25px;
  margin: 5px;
}

.clocks {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  text-align: center;
}

.left {
  display: inline-block;
  min-height: 300px;
  color: white;
}
.left #breakerclock {
  height: 150px;
  width: 150px;
  background: linear-gradient(to bottom, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 50px;
  border-radius: 100px;
  font-size: 30px;
  display: table;
}
.left #breakerclock #breaker {
  display: table-cell;
  vertical-align: middle;
}

.main {
  display: inline-block;
  color: white;
  min-height: 280px;
}
.main #mainclock {
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  margin: 0 auto;
  border-radius: 100px;
  font-size: 40px;
  display: table;
}
.main #mainclock #duration {
  display: table-cell;
  vertical-align: middle;
}

.right {
  display: inline-block;
  color: white;
  min-height: 300px;
}
.right #lengthclock {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 100px;
  background: linear-gradient(to bottom, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
  margin-top: 50px;
  display: table;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  display: table;
}
.right #lengthclock #length {
  display: table-cell;
  vertical-align: middle;
}
